<% provide(:title, 'Contact') %>
<h1 class="page-title">Contact</h1>
<p>
  This is the contacts page for the
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
  
  <h1 class="page-title">CS 232 Contact</h2>
  
  <section class="main">
  
  <dl>
  <dt>This has a dt tag</dt>
    <dd>This has a dd tag</dd>
  <dt>This has another dt tag</dt>
    <dd>And this has another dd tag</dd>
  <dt>All of this is within dl tags</dt>
    <dd>The above had a dt tag, and this has a dd tag</dd>
  </dl> 

  </section>
  
</p>